#UTF8

#!firefox設定.txt
#!Googlechrome設定.txt
#*.txt

\#自動ログイン_raspberrypi4.cmd

*.str-

~$*
*.lnk
*.pyc
*.ldb
.~lock.*
__pycache__
$HISTORY
.HISTORY
AutoBackUp
BackUp
.svn
*.un~
*.swo
*.swp
*.swn



FP_Kakeibo\AutoBackUp
FP_Kakeibo\BackUp
*.tmp.drivedownload*


.Rhistory
.RData

*.zip
*.7z
